In [1]:
from supercashier import *

In [2]:
# Input ID Transaksi
id_1 = Transaction("Yudis")

In [3]:
# Tes 1: add_item()
id_1.add_item("Ayam Goreng", 2, 20_000)
id_1.add_item("Pasta Gigi", 3, 15_000)

         Nama item Jumlah item Harga item  Total harga
1      Ayam Goreng         2.0    20000.0      40000.0
Total            -           -          -      40000.0
Item Ayam Goreng telah ditambahkan ke dalam daftar pesanan.
         Nama item Jumlah item Harga item  Total harga
1      Ayam Goreng         2.0    20000.0      40000.0
2       Pasta Gigi         3.0    15000.0      45000.0
Total            -           -          -      85000.0
Item Pasta Gigi telah ditambahkan ke dalam daftar pesanan.

In [4]:
#Tes 2: delete_item()
id_1.delete_item("Pasta Gigi")

         Nama item Jumlah item Harga item  Total harga
1      Ayam Goreng         2.0    20000.0      40000.0
Total            -           -          -      40000.0
Item Pasta Gigi telah dihapus dari daftar pesanan.

In [5]:
#Tes 3: reset_transaction()
id_1.reset_transaction("Yudis")

Semua pesanan sudah dikosongkan.

In [6]:
#Memastikan transaksi sudah di-reset
id_1.check_order("Yudis")

      Nama item Jumlah item Harga item  Total harga
Total         -           -          -          0.0
Jumlah & harga item sudah sesuai.

In [7]:
#Tes 4: total_price()
id_1.total_price("Yudis")

Pesanan atas nama: Yudis
Maaf, nominal belanja Anda belum memenuhi kriteria mendapatkan diskon. (min. Rp. 200,100)
Harga yang harus Anda bayar sebesar:2 Rp. 0.0.

In [8]:
id_1.add_item("Ayam Kampung", 20, 85_000)
id_1.add_item("Kambing", 10, 6_000_000)
id_1.add_item("Lele", 500, 2_500)

          Nama item Jumlah item Harga item  Total harga
1      Ayam Kampung        20.0    85000.0    1700000.0
Total             -           -          -    1700000.0
Item Ayam Kampung telah ditambahkan ke dalam daftar pesanan.
          Nama item Jumlah item Harga item  Total harga
1      Ayam Kampung        20.0    85000.0    1700000.0
2           Kambing        10.0  6000000.0   60000000.0
Total             -           -          -   61700000.0
Item Kambing telah ditambahkan ke dalam daftar pesanan.
          Nama item Jumlah item Harga item  Total harga
1      Ayam Kampung        20.0    85000.0    1700000.0
2           Kambing        10.0  6000000.0   60000000.0
3              Lele       500.0     2500.0    1250000.0
Total             -           -          -   62950000.0
Item Lele telah ditambahkan ke dalam daftar pesanan.

In [9]:
#Tes 5: check_order()
id_1.check_order("Yudis")

          Nama item Jumlah item Harga item  Total harga
1      Ayam Kampung        20.0    85000.0    1700000.0
2           Kambing        10.0  6000000.0   60000000.0
3              Lele       500.0     2500.0    1250000.0
Total             -           -          -   62950000.0
Jumlah & harga item sudah sesuai.

In [10]:
#Tes 6: check_order() jika ada nilai belanja anomali (misal jumlah minus)
id_1.add_item("Sapi", -20, 15_000_000)
id_1.check_order("Yudis")

          Nama item Jumlah item  Harga item  Total harga
1      Ayam Kampung        20.0     85000.0    1700000.0
2           Kambing        10.0   6000000.0   60000000.0
3              Lele       500.0      2500.0    1250000.0
4              Sapi       -20.0  15000000.0 -300000000.0
Total             -           -           - -237050000.0
Item Sapi telah ditambahkan ke dalam daftar pesanan.
          Nama item Jumlah item  Harga item  Total harga
1      Ayam Kampung        20.0     85000.0    1700000.0
2           Kambing        10.0   6000000.0   60000000.0
3              Lele       500.0      2500.0    1250000.0
4              Sapi       -20.0  15000000.0 -300000000.0
Total             -           -           - -237050000.0
Warning: Jumlah item tidak boleh minus!

In [11]:
#Tes 7: update_item_price & check_order(), jika ada harga minus
id_1.update_item_price("Sapi", -15_000_000)
id_1.check_order("Yudis")

          Nama item Jumlah item  Harga item  Total harga
1      Ayam Kampung        20.0     85000.0    1700000.0
2           Kambing        10.0   6000000.0   60000000.0
3              Lele       500.0      2500.0    1250000.0
4              Sapi       -20.0 -15000000.0  300000000.0
Total             -           -           -  362950000.0
Harga item Sapi telah diubah menjadi sebesar Rp. -15,000,000.
          Nama item Jumlah item  Harga item  Total harga
1      Ayam Kampung        20.0     85000.0    1700000.0
2           Kambing        10.0   6000000.0   60000000.0
3              Lele       500.0      2500.0    1250000.0
4              Sapi       -20.0 -15000000.0  300000000.0
Total             -           -           -  362950000.0
Warning: Jumlah item tidak boleh minus!
Warning: Harga item tidak boleh minus!

In [12]:
#Tes 8: update_item_name()
id_1.update_item_name("Kambing", "Kambing Ettawa")

            Nama item Jumlah item  Harga item  Total harga
1        Ayam Kampung        20.0     85000.0    1700000.0
2      Kambing Ettawa        10.0   6000000.0   60000000.0
3                Lele       500.0      2500.0    1250000.0
4                Sapi       -20.0 -15000000.0  300000000.0
Total               -           -           -  362950000.0
Nama item Kambing telah diubah menjadi Kambing Ettawa.

In [13]:
#Tes 9: update_item_qty()
id_1.update_item_qty("Sapi", 20)

            Nama item Jumlah item  Harga item  Total harga
1        Ayam Kampung        20.0     85000.0    1700000.0
2      Kambing Ettawa        10.0   6000000.0   60000000.0
3                Lele       500.0      2500.0    1250000.0
4                Sapi        20.0 -15000000.0 -300000000.0
Total               -           -           - -237050000.0
Jumlah item Sapi telah diubah menjadi sebanyak 20.

In [14]:
#Tes 10: total_price(), hapus/ganti nilai yang tidak wajar
id_1.update_item_price("Sapi", 15_000_000)

id_1.total_price("Yudis")

            Nama item Jumlah item  Harga item  Total harga
1        Ayam Kampung        20.0     85000.0    1700000.0
2      Kambing Ettawa        10.0   6000000.0   60000000.0
3                Lele       500.0      2500.0    1250000.0
4                Sapi        20.0  15000000.0  300000000.0
Total               -           -           -  362950000.0
Harga item Sapi telah diubah menjadi sebesar Rp. 15,000,000.

Pesanan atas nama: Yudis
Selamat! Pembeli a/n Yudis mendapat diskon sebesar 10%
Jumlah harga belanja sebelum diskon sebesar: Rp. 362,950,000
Besar nominal diskon yang didapat sebesar  : Rp. 36,295,000.0
Harga setelah diskon menjadi sebesar       : Rp. 326,655,000.0